<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unit Conversions</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../scripts/script.js"></script>
    </head>
    <body>
        <section id = "home">
            <header><b>Unit Conversions</b></header>
            <nav>
                <div class="nav-bar">
                    <a href="#temperature" class="nav-button">Temperature</a>
                    <a href="#weight" class="nav-button">Weight</a>
                    <a href="#distance" class="nav-button">Distance</a>
                </div>
            </nav>
        </section>
        <div style="clear:both;"></div>
        <div id="all-conversion-sections">
            <section id="temperature" class="b temperature">
                <div id="temp">
                    <figure>
                        <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-CD0101EN-SkillsNetwork/labs/Theia%20Labs/02%20-%20HTML5%20Elements/images/thermo.png" width="200px"/>
                        <figcaption>Celsius to Fahrenheit Conversion</figcaption>
                    </figure>
                    <article>
                        <fieldset>  
                            <legend>Temperature</legend>
                            <label for="Temperature">Celsius</label><br/>
                            <input type="number" id="c"><br/>
                            <button id="convert-temp" onclick="CelsiusToFahrenheit()">Convert</button><br/>
                            <input type="number" id="f"><br/>
                            <label for="Temperature">Fahrenheit</label><br/>
                        </fieldset>
                        <aside>
                            To convert Celsius to Fahrenheit yourself, use this formula replacing the `C` with your temperature in Celsius: (C × 9/5) + 32
                        </aside>
                    </article>
                </div>
                <div style="clear:both;"></div>
            </section>
            <section id="weight" class="b weight">
                <div id="weight">
                    <figure>
                        <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-CD0101EN-SkillsNetwork/labs/Theia%20Labs/02%20-%20HTML5%20Elements/images/weight.png" width="200px"/>
                        <figcaption>Kilograms to Pounds Conversion</figcaption>
                    </figure>
                    <article>
                        <fieldset>
                            <legend>Weight</legend>
                            <label for="Weight">Kilograms</label><br/>
                            <input type="number" id="kg"><br/>
                            <button id="ceonvert-weight" onclick="KgToPound()">Convert</button><br/>
                            <input type="number" id="lbs"><br/>
                            <label for="Weight">Pounds</label><br/>
                        </fieldset>
                        <aside>
                            To convert kilograms to pounds yourself, use this formula replacing the `kg` with your weight in kilograms: kg x 2.205
                        </aside> 
                    </article>
                </div>
            </section>
            <div style="clear:both;"></div>
            <section id="distance" class="b distance">
                <div id="distance">
                    <figure>
                        <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-CD0101EN-SkillsNetwork/labs/Theia%20Labs/02%20-%20HTML5%20Elements/images/speedo.png" width="200px"/>
                        <figcaption>Kilometers to Miles Conversion</figcaption>
                    </figure>
                    <article>
                        <fieldset>
                            <legend>Distance</legend>
                            <label for="Distance">Kilometers</label><br/>
                            <input type="number" id="km"><br/>
                            <button id="convert-distance" onclick="KmToMiles()">Convert</button><br/>
                            <input type="number" id="miles"><br/>
                            <label for="Distance">Miles</label><br/>
                        </fieldset>
                        <aside>
                            To convert kilometers to miles yourself, use this formula replacing the `km` with your distance in kilmeters: km &divide; 1.609
                        </aside>
                    </article>
                </div>
            </section>
            <div style="clear:both;"></div>
        </div>
        <div id="go-home" class="iconbutton">
            <a href="#home">
                <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-CD0101EN-SkillsNetwork/labs/Theia%20Labs/02%20-%20HTML5%20Elements/images/home.svg"/>
            </a>
        </div>
    </body>
</html>